footer 
    .footer
        .footer-item 
            a(href="#") 
                img(src="images/logo.svg", alt="Logo")
        .footer-item 
            ul.footer-list 
                li.footer-list__item 
                    a(href="#").footer-list__link Voice over and Subtitle 
            ul.footer-list 
                li.footer-list__item 
                    a(href="#").footer-list__link Media Center 
            ul.footer-list 
                li.footer-list__item 
                    a(href="#").footer-list__link Privacy
            ul.footer-list 
                li.footer-list__item 
                    a(href="#").footer-list__link Contact us
        .footer-item 
            ul.footer-list 
                li.footer-list__item 
                    a(href="#").footer-list__link Voice Description 
            ul.footer-list 
                li.footer-list__item 
                    a(href="#").footer-list__link Investor Relations 
            ul.footer-list 
                li.footer-list__item 
                    a(href="#").footer-list__link Legal Provisions
        .footer-item 
            ul.footer-list 
                li.footer-list__item 
                    a(href="#").footer-list__link Help Center 
            ul.footer-list 
                li.footer-list__item 
                    a(href="#").footer-list__link Job Opportunities 
            ul.footer-list 
                li.footer-list__item 
                    a(href="#").footer-list__link Cookies Preferences
        .footer-item 
            ul.footer-list 
                li.footer-list__item 
                    a(href="#").footer-list__link Gift Cards 
            ul.footer-list 
                li.footer-list__item 
                    a(href="#").footer-list__link Terms of Use 
            ul.footer-list 
                li.footer-list__item 
                    a(href="#").footer-list__link Corporate Informations